$color-text: #474646;
$color-text-light: #505050;
$color-primary: #108ee9;
$color-background: #f4f6f8;
$color-background-darker: #f1f1f1;
$color-blue: #3484e3;
$color-white: #fff;
$color-mix-dark: rgb(112, 125, 148);
$color-black: #000;
$color-green: rgb(40, 167, 69);
$color-green-light: #4eb76e;
$color-orange: #f50;
$color-green-bulma: #00d1b2;
$color-red-bulma: #ff3860;
$color-primary-light: #49a9ee;
$color-link: #1a0dab;

$color-bg-dark: #141518;
$color-core-dark: #2C2F34; 

$color-info-o-medium: rgb(131, 195, 254);
$color-info-3: rgb(238, 247, 255);
$color-info-8: rgb(2, 132, 254);

$color-danger-o-medium: #ff5d5d;
$color-danger-3: #ffeaea;
$color-danger-8: #f06482;

$color-warning-o-medium: rgb(255, 202, 101);
$color-warning-3: rgb(255, 236, 199);
$color-warning-8: #ffad0d;

$color-success-o-medium: rgb(62, 211, 163);
$color-success-3: #eaf7f2;
$color-success-8: #36ab80;
