$color-text: #474646;
$color-text-light: #505050;
$color-primary: #108ee9;
$color-background: #f4f6f8;
$color-background-darker: #f1f1f1;
$color-blue: #3484e3;
$color-white: #fff;
$color-mix-dark: rgb(112, 125, 148);
$color-black: #000;
$color-green: rgb(40, 167, 69);
$color-green-light: #4eb76e;
$color-orange: #f50;
$color-green-bulma: #00d1b2;
$color-red-bulma: #ff3860;
$color-primary-light: #49a9ee;
$color-link: #1a0dab;

$color-bg-dark: #141518;
$color-core-dark: #2C2F34; 
