::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #b4b9c2;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  border-radius: 10px;
}

::-webkit-scrollbar-track{
  background: transparent;
}

.ant-notification {
  width: 352px;

  &-notice {
    padding: 16px;
    &-message {
      color: $color-text;
    }
  }

  .noti {
    &-info {
      background: $color-info-3;
      border: 1px solid $color-info-o-medium;
      
      .anticon-close {
        color: $color-info-8;
      }
      
      .anticon-info-circle {
        color: $color-info-8;
      }
    }
    &-error {
      background: $color-danger-3;
      border: 1px solid $color-danger-o-medium;
    
      .anticon-close {
        color: $color-danger-8;
      }
      
      .anticon-close-circle {
        color: $color-danger-8;
      }
    }

    &-warning {
      background: $color-warning-3;
      border: 1px solid $color-warning-o-medium;
      
      .anticon-warning {
        color: $color-warning-8;
      }
    
      .anticon-close {
        color: $color-warning-8;
      }
    }
    &-success {
      background: $color-success-3;
      border: 1px solid $color-success-o-medium;
      
      .anticon-close {
        color: $color-success-8;
      }
      
      .anticon-check-circle {
        color: $color-success-8;
      }
    }
  }
}

.ant-modal-header {
  padding: 0px;
  overflow: hidden;
  border: none;
}

.ant-modal-body {
  background: #3c424b;
}

.ant-modal-title {
  height: 44px;
  font-size: 17px;
  font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 500;
  text-align: center;
  background-color: #585f69;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
}

.ant-modal-close-x {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
}

.ant-input {
  &:focus {
    box-shadow: none;
  }
}

.ant-modal-footer {
  .ant-btn {
    border-radius: 20px;
  }
}