@media screen and (max-width: 1170px) {
  .container {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 700px) {
  .info-header {
    &--user{
      &__name {
        font-size: 30px;
      }

      &__avatar {
        width: 80px;
        height: 80px;
      }
    }
  }
  
  .modal-select--image {
    .ant-modal-content {
      width: 100%;
    }

    .ant-modal-body {
      width: 100%;
      padding: 16px;
      height: 360px;
    }
    .modal-footer {
      &--save {
        width: 96px;
      }
    }
  }

  .list-avatar {
    grid-template-columns: repeat(auto-fill, minmax(56px,1fr));
    grid-gap: 16px;

    .avatar-item {
      width: 56px;
      height: 56px;
    }
  }

  .modal-footer{
    .ant-btn {
      height: 32px;
    }
  }
}