@media screen and (max-width: 1170px) {
  .container {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 700px) {
  .info-header {
    &--user{
      &__name {
        font-size: 30px;
      }

      &__avatar {
        width: 80px;
        height: 80px;
      }
    }
  }
  
  .modal-select--image {
    .ant-modal-content {
      width: 100%;
    }

    .ant-modal-body {
      width: 100%;
      padding: 16px;
      height: 360px;
    }
    .modal-footer {
      &--save {
        width: 96px;
      }
    }
  }

  .list-avatar {
    grid-template-columns: repeat(auto-fill, minmax(56px,1fr));
    grid-gap: 16px;

    .avatar-item {
      width: 56px;
      height: 56px;
    }
  }

  .modal-footer{
    .ant-btn {
      height: 32px;
    }
  }
}

@media screen and (max-width: 400px) {
  .modal-upload {
    &--close {
      top: -10px;
      right: -18px;
    }
    .ant-modal-content {
      border-top-right-radius: 25px;
      overflow: hidden;
    }
  }
  .info-header {
    &--wrapper {
      padding-top: 32px;
    }
    &--tab {
      margin-top: 24px;
      .ant-tabs-nav-container {
        padding: 0px;
      }
      .ant-tabs-tab {
        margin-right: 0px;
      }
    }
  }

  .header-item {
    .user {
      &-avatar {
        overflow: hidden;
        width: 32px;
        height: 32px; 
      }
    }
    .add-post {
      width: auto;
      img {
        width: 24px;
        margin: 0;
      }
      &--text {
        display: none;
      }
    }
    &--content {
      .button-link {
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .header-left {
    img {
      width: 64px;
    }
  }

  .post {
    flex-direction: column-reverse;

    &-content {
      width: 100%;
    }

    &-action {
      width: 100%;
      margin-left: 0px; 
      position: relative;
      top: 0px;
    }
  }
}