.is {
  &-relative {
    position: relative;
  }
  &-absolute {
    position: absolute;
  }
  &-flex {
    display: flex !important;
    &--space-between {
      justify-content: space-between;
    }
    &--row {
      flex-direction: row;
    }
    &--end {
      justify-content: flex-end;
    }
    &--center {
      align-items: center;
      justify-content: center;
    }
    &--vcenter {
      align-items: center;
    }
    &--hcenter {
      justify-content: center
    }
    &--wrap {
      flex-wrap: wrap
    }
  }
  &-cursor {
    cursor: pointer;
  }
}

.pd {
  &-lr {
    &--20 {
      padding: 0px 20px
    }
  }
}

.mb {
  &-5 {
    margin-bottom: 5px
  }
  &-10 {
    margin-bottom: 10px
  }
  &-15 {
    margin-bottom: 15px
  }
  &-20 {
    margin-bottom: 20px
  }
  &-25 {
    margin-bottom: 25px
  }
  &-50 {
    margin-bottom: 50px
  }
}

.mt {
  &-5 {
    margin-top: 5px
  }
  &-10 {
    margin-top: 10px
  }
  &-15 {
    margin-top: 15px
  }
  &-20 {
    margin-top: 20px
  }
  &-25 {
    margin-top: 25px
  }
  &-30 {
    margin-top: 30px
  }
  &-50 {
    margin-top: 50px
  }
}

.mr {
  &-5 {
    margin-right: 5px
  }
  &-10 {
    margin-right: 10px
  }
  &-15 {
    margin-right: 15px
  }
  &-20 {
    margin-right: 20px
  }
  &-25 {
    margin-right: 25px
  }
  &-50 {
    margin-right: 50px
  }
}
.ml {
  &-5 {
    margin-left: 5px
  }
  &-10 {
    margin-left: 10px
  }
  &-15 {
    margin-left: 15px
  }
  &-20 {
    margin-left: 20px
  }
  &-25 {
    margin-left: 25px
  }
  &-50 {
    margin-left: 50px
  }
}

.pt {
  &-5 {
    padding-top: 5px;
  }
  &-10 {
    padding-top: 10px;
  }
  &-15 {
    padding-top: 15px;
  }
  &-20 {
    padding-top: 20px;
  }
  &-30 {
    padding-top: 30px;
  }
  &-50 {
    padding-top: 50px;
  }
}

.pb {
  &-5 {
    padding-bottom: 5px;
  }
  &-10 {
    padding-bottom: 10px;
  }
  &-20 {
    padding-bottom: 20px;
  }
  &-30 {
    padding-bottom: 30px;
  }
  &-50 {
    padding-bottom: 50px;
  }
}
