@import "./ui/base";

body {
  font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: 0px !important;
  background: $color-bg-dark;
}

.container {
  max-width: 1000px;
  margin: auto
}